* {
    
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}






body{
    background-color: #EBDED5;
    
}


header{
    width: 100%;
    background-color:#181c26;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navigator { 
    display: flex;
    width: 40%;
    justify-content: space-around;
}


a {
    text-decoration: none;
    color: #EC9812;
}


.header-button{
    background-color:#EC9812;
    margin: 30px;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    color: #2e1c06;
    border: none;
    cursor: pointer;
    font-size: 1em;
}


article{
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-areas: "elemento1 elemento2";
    padding-top: 100px;
    font-size: 23px;
    margin-top: -150px;
    width: 90%;
    margin-bottom: -30px ;
    grid-template-columns: 1fr 1fr; 
}

.elemento1 {
    display: flex;  
    grid-area: elemento2;
}


.elemento2 {
    grid-area: elemento2;
    padding-left: 150px;
    padding-top: 100px;
}


h2 {
    font-family: rowdies;
}

div.main {
    align-items: center;
    text-align: center;
    width:400px;
    height: 315px;
    border-radius: 20px 0 0 20px;
    background-color: #EC9812;
    box-shadow: rgba(0, 0, 0, 0.733) 0px 3px 3px;
}

.img{
    padding-top: 30px;
}


main {
    display: grid;
    margin: auto;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;
    max-width: 1100px;
    grid-template-columns: 1fr 1fr 1fr;
}


h3 {
    padding-top: 80px;
    font-size: 1.1em;
    font-weight: 900;
}

address{
    margin-top: 30px;
    font-weight: 900;
}


.logo {
    border-radius: 50px;
    cursor: pointer; 
}


.form {
    box-sizing: border-box;
    text-align: center;
    text-align: left;
    padding: 30px;
    height: 315px;
    width: 700px;
    border-radius: 0 25px 25px 0;
    background-color: #181c26;
    box-shadow: rgba(0, 0, 0, 0.733) 0px 2px 3px;
}

input::placeholder {
    position: absolute;
    top:0;
    padding: 5px;
    color: #5F6C8C;
  }

textarea::placeholder{
    color: #5F6C8C;
}  

#input_nome {
    margin-right: 5%;
    font-size: 1em;
    margin-bottom: 10px;
    width: 40%;
    height: 30px;
    font-family: rowdies;
    background-color: #D9D9D9;
    border: none;
}


#input_email {
    font-size: 1em;
    width: 40%;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    background-color: #D9D9D9;
    font-family: rowdies;
 
}


#input_help {
    font-size: 1em;
    border-radius: 5px;
    height: 180px;
    width: 540px;
    border: none;
    background-color: #D9D9D9;
    font-family: rowdies;
    margin-top: 40px;
    padding: 5px;
}


footer {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #181C26;
    color:#ffffff;
}