
#nome,
#email,
#id {
  display: none;
}

.tabelaAdm {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  border-radius: 2px;
  border: thin black solid;
}

.container-button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.grafico {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

h1 {
  font-family: rowdies;
}

#puxar {
  font-family: rowdies;
}

#tabela {
  display: flex;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
}

th {
  color: #ed9812;
  padding: 20px;
}

td {
  color: black;
  padding: 20px;
}

#puxar {
  display: flex;
  width: 10%;
  height: 40px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #ed9812;
}

h1 {
  text-align: center;
  padding-top: 40px;
}

@media (max-width: 1000px) {
  .tabelaAdm {
    display: flex;
    width: 700px;
  }

  .tabelaAdm th,
  .tabelaAdm td {
    padding: 20px;
    font-size: 14px;
  }

  #puxar {
    width: 150px;
  }
}

@media (max-width: 710px) {
  .tabelaAdm {
    display: flex;
    width: 380px;
  }
  .tabelaAdm th,
  .tabelaAdm td {
    padding: 20px;
    font-size: 14px;
  }

  #puxar {
    width: 150px;
  }
}
