* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  .sobre-nos {
    background-color: rgb(237, 228, 218);
    min-height: calc(100vh - 113px);
  }
  
  .container {
    margin: 0 auto;
    text-align: center;
    max-width: 1024px;
  
  }
  
  .img-sobre-nos {
    display: block;
    margin: auto;
    width: 947px;
    max-width: 90vw;
    border-radius: 20px;
  }
  
  .info-text {
    margin: 50px auto 0;
    padding: 0 0 50px 0;
    line-height: 1.5em;
    text-align: justify;
    width: 947px;
    max-width: 90vw;
  }
  
  footer {
    background-color: #181c26;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
  }