  .sobre-nos {
    min-height: calc(100vh - 113px);
  }
  
  .img-sobre-nos {
    display: block;
    margin: auto;
    width: 947px;
    max-width: 90vw;
    border-radius: 20px;
  }
  
  .info-text {
    margin: 50px auto 0;
    padding: 0 0 50px 0;
    line-height: 1.5em;
    text-align: justify;
    width: 947px;
    max-width: 90vw;
  }
  
