* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ebded5;
}

section {
  min-height: calc(100vh - 211px);
  text-align: center;
}

.section-cart .container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  padding: 1px;
  align-items: center;
  justify-content: space-between;
}

.cart {
  width: 80%;
  max-width: 100vw;
  height: 300px;
  display: flex;
  margin: 0 auto 20px;
}

.cart-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #181c26;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5%;
}
.cart-img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.cart-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.cart-info-button {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.cart-info-button-img:active {
  transform: translateY(2px);
}

.cart-footer {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.cart-container-footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 190px;
}

.cart-price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  width: 10%;
  background-color: #181c26;
  margin-bottom: 10px;
  border-radius: 10px;
}

.cart-price-title {
  color: white;
  font-weight: 700;
}

.cart-price-text {
  color: white;
  font-weight: 700;
}

.cart-button {
  height: 40px;
  width: 10%;
  background-color: #181c26;
  color: #ed9812;
  font-weight: 700;
  border-radius: 10px;
}

.cart-button:active {
  transform: translateY(2px);
  background-color: #f1aa36;
}

.cart-button:active {
  transform: translateY(2px);
  background-color: #2f3647;
}

footer {
  background-color: #181c26;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: #ed9812;
}
@media (max-width: 768px) {
  .cart-container {
    flex-direction: column;
  }

  .cart {
    flex-direction: column;
    margin: auto;
  }

  .cart-container {
    display: block;
    width: 100%;
    border: 1px solid black;
    border-radius: 0px;
    padding: 10px 0;
    margin: 0 0 10px 0;
  }
}
