* {
  margin: 0;
  padding: 0;
}

section {
  min-height: calc(100vh - 211px);
  text-align: center;
  background-color: #ebded5;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  align-items: center;
  justify-content: space-between;
}

.cart {
  width: 80%;
  display: flex;
  margin-bottom: 20px;
}

.cart-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #181c26;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.cart-info {
  flex: 1;
  text-align: center;
  align-items: center;
}

.cart-footer {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.cart-container-footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 190px;
}

.cart-price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  width: 10%;
  background-color: #181c26;
  margin-bottom: 10px;
  border-radius: 10px;
}

.cart-price-title {
  color: white;
  font-weight: 700;
}

.cart-price-text {
  color: white;
  font-weight: 700;
}

.cart-button{
  height: 40px;
  width: 10%;
  background-color: #181c26;
  color: #ed9812;
  font-weight: 700;
  border-radius: 10px;
}

.cart-button:active {
  transform: translateY(2px);
  background-color: #f1aa36;
}

.cart-button:active {
  transform: translateY(2px);
  background-color: #2f3647;
}

footer {
  background-color: #181c26;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: #ed9812;
}
