header {
  background-color: var(--cor3);
}
nav{
  width: 100vw;
}

.navigator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.container-button-responsivo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-image{
width: 100px;
cursor: pointer;
}

.btn-menu-responsivo {
  display: none;
  padding: 10px;
  border-radius: 10px;
  transition: .5s;
  background-color: var(--cor3);
  border: 1px solid var(--cor6);
}

.btn-menu-responsivo:hover,
.btn-menu-responsivo:focus {
  padding: 10px;
  border-radius: 10px;
  transform: scale(1.1);
  filter: brightness(50%);
}


.nav-link {
  margin: 0 10px;
}

.btn-close--is-hidden {
  display: none;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-button {
  background-color: var(--cor1);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.header-button:active {
  transform: translateY(2px);
  background-color: var(--cor1);
}

@media (max-width: 830px) {
  #navbar{
    height: 90px;
    overflow: hidden;
    transition: .5s;
  }
  
  .container-button-responsivo{
    width: 90vw;
    padding: 0;
    margin: 0;
  }

  .btn-menu-responsivo{
    display: block;
  }

  nav .container{
    width: 90vw;
    margin: auto;
  }
  .navigator{
    flex-direction: column;
  }
  .link-container{
    display: block;
  }
  .link-container>a{
display: block;
margin: 20px;
  }
  .button-container{
flex-direction: column;
width: 100%;
  }
  .button-container > button {
    width: 100%;
  }
  
}