.container {
    max-width: 1020vw;
    height: 100%;
  
  }
header {
    background-color: #181c26;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .container-button-responsivo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
  }
  
  .btn-menu-responsivo {
    display: none;
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
    background-color: #181c26;
    border: 1px solid white;
    cursor: pointer;
  }
  
  .btn-menu-responsivo:hover,
  .btn-menu-responsivo:focus {
    padding: 10px;
    border-radius: 10px;
    transform: scale(1.1);
    filter: brightness(50%);
  }
  
  .navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    list-style-type: none;
  }
  
  .nav-link {
    margin: 0 24px;
  }
  .btn-close--is-hidden {
    display: none;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .header-button {
    background-color: #ed9812;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .header-button:active {
    transform: translateY(2px);
    background-color: #f1aa36;
  }

  @media (max-width: 768px) {
    .nav-container {
      display: block;
      position: relative;
  
    }
  
    .container-button-responsivo {
      width: 100%;
  
    }
  
    .btn-menu-responsivo {
      display: block;
    }
  
    .navigator {
      position: absolute;
      display: block;
      top: 0px;
      right: -20px;
      width: 100%;
      height: 90vh;
      padding: 10px;
      background-color: rgba(255,255,255,0.97);
    }
    .navigator--is-hidden{
      display: none;
    }
  
    .nav-link {
      display: block;
      width: auto;
      padding: 20px;
      border-bottom: 1px solid #c9c9c9;
      text-align: center;
    }
    
    .btn-close {
      display: block;
      padding: 20px 25px;
      margin-left: calc(100% - 90px);
      margin-bottom: 10px;
      border-radius: 15px;
      font-size: 32px;
      background-color: none;
      border:none;
    }
  
  
    .button-container {
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
  
    .header-button {
      width: 90vw;
      padding: 15px 0;
      margin: 20px;
    }
  
    .header-button:last-child {
      margin: 0;
    }
  