* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #181c26;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navigator {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-button {
  background-color: #ed9812;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.header-button:active {
  transform: translateY(2px);
  background-color: #f1aa36;
}

section {
  min-height: calc(100vh - 211px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 228, 218);
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.img-home {
  width: 50%;
  height: 100%;
  /* width: 550px;
  height: 500px; */
}

.info-container {
  display: flex;
  flex-direction: column;
  background-color: #ed9812;
  align-items: center;
  justify-content: center;
  padding: 0 5% 0 5%;
}

@media (max-width: 990px) {
  .info-container {
    padding: 0 1% 0 1%;
  }
  .info-button {
    margin-top: 0;
    height: 10px;
  }
}

.info-text {
  width: 100%;
  text-align: center;
}

.info-button {
  width: 15%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #593f30;
  color: #ed9812;
  margin-top: 50px;
}

.info-button:active {
  transform: translateY(2px);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: #ffffff;
  background-color: #181c26;
}
