* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1020vw;
  height: 100%;

}

section {
  min-height: calc(100vh - 211px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EBDED5;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-home {
  width: 100%;
  height: 100%;
  display: block;

  /* width: 550px;
  height: 500px; */
}

.info-container {
  display: flex;
  flex-direction: column;
  background-color: #ed9812;
  align-items: center;
  justify-content: center;
  padding: 0 5% 0 5%;
}

.info-text {
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

.info-button {
  width: 150px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: #593f30;
  color: #ed9812;
  margin-top: 20px;
}

.info-button:active {
  transform: translateY(2px);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: #ffffff;
  background-color: #181c26;
}

@media (max-width: 768px) {
  

  .hero {
    display: block;
  }

  .info-container {
    padding: 0 1% 0 1%;
  }

  .img-home {
    width: 100%;
  }

  .info-button {
    margin: 20px 0;
  }
}