* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #181c26;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navigator {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

a {
  color: #ed9812;
  text-decoration: none;
}

.button-container {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-button {
  background-color: #ed9812;
  color: #593f30;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.header-button:active {
  transform: translateY(2px);
  background-color: #f1aa36;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}

.info-container {
  height: 390px;
  display: flex;
  flex-direction: column;
  background-color: #ed9812;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.info-text {
  width: 60%;
  margin-top: 20px;
}

.info-button {
  border: none;
  border-radius: 5px;
  width: 15%;
  height: 10%;
  margin-top: 20px;
  background-color: #593f30;
  color: #ed9812;
}

.info-button:active {
    transform: translateY(2px);
}

footer {
  background-color: #181c26;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: #ffffff;
}
