#login {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 8px black;

}


.caixaModal {
    min-width: 400px;
    min-height: 300px;
    padding: 40px;
    margin: auto;
    width: auto;
    border-radius: 2px;
    background-color: white;
}

#closeModal {
    margin-left: calc(100% - 20px);
    background-color: transparent;
    border: none;
}

ion {
    font-size: 16px;
    width: 16px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.labelModal {
    display: block;
    margin: 10px 0;
    width: 300px;
}


input[name="campoCadastroLogin"] {
    display: block;
    width: 300px;
    padding: 10px 10px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    transition-timing-function: linear;
    transition: .7s;
    margin: auto;

}

input[name="campoCadastroLogin"]:focus {
    outline: none;
    border-color: black;
}

#btnLogin, #btnCadastro {
    margin: 30px auto;
    width: 300px;
    padding: 10px;
    border-radius: 2px;
    font-size: 16px;
}